@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*{
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar{
	width: 0;
  height: 0;
  font-family: 'Poppins', sans-serif !important;
}
html, body{
  width: 100vw;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif !important;
}
:root{
  --bg: rgba(232, 242, 253, 1);
  --blue: rgba(23, 123, 229, 1);
  --white: rgba(255, 255, 255, 1);
  --pink: rgba(236, 34, 101, 1);
  --black: #000;
}

h1{
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}